.product-mirror {
  color: #333333;
  line-height: 1.3;
  margin-top: 2em;
}

.product-mirror > h2 {
  font-size: 1.8em;
  font-weight: bold;
}

.product-mirror p {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 1em;
}

.tamanhos output {
  display: inline-block;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  border: 3px solid #666;
  border-radius: 50%;
  color: #555;
}

.detalhes {
  padding: 2em 0;
}

.detalhes h2 {
  font-size: 1.5em;
  line-height: 1.5;
}

.detalhes p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5;
}

.detalhes table {
  border-spacing: 0.2em;
  border-collapse: separate;
}

.detalhes thead {
  background-color: #999999;
}

.detalhes thead th {
  font-weight: bold;
  padding: 0.3em 1em;
  text-align: center;
}

.detalhes td {
  padding: 0.3em;
}

.detalhes tr:nth-child(2n) {
  background-color: #cccccc;
}

.detalhes td:first-child {
  font-style: italic;
}

.product-back {
  background-color: #f2f2f2;
  margin-top: 1em;
  border-top: 2px solid #cccccc;
}

@media (min-width: 500px) {
  .detalhes {
    font-size: 1.2em;
  }
}